@using StokMVC.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUrun>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<h2>ÜRÜN İŞLEMLERİ SAYFASI</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>ÜRÜN KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>ÜRÜN MARKASI</th>
            <th>ÜRÜN SİL</th>
            <th>ÜRÜN GÜNCELLE</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UrunId</td>
                    <td>@item.UrunAd</td>
                    <td>@item.TBLKategori.KategoriAd</td>
                    <td>@item.UrunFiyat</td>
                    <td>@item.UrunStok</td>
                    <td>@item.UrunMarka</td>
                    <td><a href="/Urun/Sil/@item.UrunId" class="btn btn-danger" onclick="alert('ürün silindi');">SİL</a></td>
                    <td><a href="/Urun/UrunGuncelle/@item.UrunId" class="btn btn-success">GÜNCELLE</a></td>
                </tr>

            }
        }
    </tbody>

</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("index", new { sayfa }))
<td><a href="/Urun/YeniUrunEkle" class="btn btn-primary">YENİ ÜRÜN EKLE</a></td>



<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl1').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />